[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
init = "python3 ./init_db.py"
deinit = "python3 ./deinit_db.py"
start = "python3 -m kipubot"
dev = "watchfiles 'python3 -m kipubot' kipubot"
lint = "pylint kipubot"
test = "pytest"

[packages]
pandas = "*"
matplotlib = "*"
scipy = "*"
python-dotenv = "*"
python-telegram-bot = ">=20.0a0"
psycopg = ">=3"
openpyxl = "*"
pytz = "*"
uncertainties = "*"

[dev-packages]
watchfiles="*"
autopep8 = "*"
pylint = "*"
pytype = "*"
pytest = "*"

[requires]
python_version = "3.8"
