[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
init = "python3 ./init_db.py"
deinit = "python3 ./deinit_db.py"
start = "python3 kipubot/bot.py"
dev = "watchfiles 'python3 kipubot/bot.py' kipubot"

[packages]
pandas = "*"
matplotlib = "*"
scipy = "*"
python-dotenv = "*"
python-telegram-bot = ">=20.0a0"
psycopg = ">=3"
openpyxl = "*"

[dev-packages]
watchfiles="*"
autopep8 = "*"

[requires]
python_version = "3.8"
